In [ ]:
from google.colab import drive
drive.mount("/content/drive")

In [ ]:
%pwd

In [ ]:
%cd /content/drive/MyDrive/

In [ ]:
%cd Colab Notebooks/10xac

In [ ]:
%ls

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("cleaned_tweets.csv")

In [3]:
df.head(5)

,Unnamed: 0,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,0,2022-04-22 22:32:03+00:00,Twitter for iPhone,MICKEY’S BAD MOVE: @GovRonDeSantis has now sig...,-0.037500,0.533333,en,1,0.0,MercuryReports,9254,9422,False,[],['GovRonDeSantis'],All Over America
1,1,2022-04-22 22:16:55+00:00,Twitter for iPhone,ELECTIONS HAVE CONSEQUENCES: Biden’s historic ...,-0.066667,0.033333,en,1,0.0,MercuryReports,9254,9422,False,[],[],All Over America
2,2,2022-04-22 07:15:28+00:00,Twitter for iPhone,COINCIDENCE? 18 U.S. food processing facilitie...,-0.077778,0.177778,en,4,1.0,MercuryReports,9254,9422,False,[],[],All Over America
3,3,2022-04-22 07:11:18+00:00,Twitter for iPhone,FOOD PROCESSING PLANTS BEING DESTROYED: “A Sma...,-0.100000,0.450000,en,3,2.0,MercuryReports,9254,9422,False,[],[],All Over America
4,4,2022-04-21 22:22:02+00:00,Twitter for iPhone,DISGUSTING HUMAN BEING: What one person calls ...,-0.500000,0.550000,en,1,0.0,MercuryReports,9254,9422,False,[],[],All Over America

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4307 entries, 0 to 4306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4307 non-null   int64
 1   created_at          4307 non-null   object
 2   source              4307 non-null   object
 3   original_text       4307 non-null   object
 4   polarity            4307 non-null   float64
 5   subjectivity        4307 non-null   float64
 6   lang                4307 non-null   object
 7   favorite_count      4307 non-null   int64
 8   retweet_count       4307 non-null   float64
 9   original_author     4307 non-null   object
 10  followers_count     4307 non-null   int64
 11  friends_count       4307 non-null   int64
 12  possibly_sensitive  4307 non-null   bool
 13  hashtags            4307 non-null   object
 14  user_mentions       4307 non-null   object
 15  place               4307 non-null   object
dtypes: bool(1), float64(3), int64(4), object(8)
memory usage: 509.1+ KB

In [6]:
df.drop("Unnamed: 0", axis=1)

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,2022-04-22 22:32:03+00:00,Twitter for iPhone,MICKEY’S BAD MOVE: @GovRonDeSantis has now sig...,-0.037500,0.533333,en,1,0.0,MercuryReports,9254,9422,False,[],['GovRonDeSantis'],All Over America
1,2022-04-22 22:16:55+00:00,Twitter for iPhone,ELECTIONS HAVE CONSEQUENCES: Biden’s historic ...,-0.066667,0.033333,en,1,0.0,MercuryReports,9254,9422,False,[],[],All Over America
2,2022-04-22 07:15:28+00:00,Twitter for iPhone,COINCIDENCE? 18 U.S. food processing facilitie...,-0.077778,0.177778,en,4,1.0,MercuryReports,9254,9422,False,[],[],All Over America
3,2022-04-22 07:11:18+00:00,Twitter for iPhone,FOOD PROCESSING PLANTS BEING DESTROYED: “A Sma...,-0.100000,0.450000,en,3,2.0,MercuryReports,9254,9422,False,[],[],All Over America
4,2022-04-21 22:22:02+00:00,Twitter for iPhone,DISGUSTING HUMAN BEING: What one person calls ...,-0.500000,0.550000,en,1,0.0,MercuryReports,9254,9422,False,[],[],All Over America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4302,2022-04-22 14:00:54+00:00,Twitter Media Studio - LiveCut,#TopNews Stories Of This Hour\n#Headlines #Zee...,0.000000,0.000000,en,0,0.0,Zee24Kalak,212228,187,False,"['TopNews', 'Headlines', 'ZeeNews']",[],India
4303,2022-04-22 13:52:56+00:00,Twitter for Android,"RT @nitinagarwalINC: Love is strength, \nHate...",-0.150000,0.750000,en,0,110.0,ibrahimpatel007,4684,1225,False,['IndiaAgainstHate'],"['nitinagarwalINC', 'RahulGandhi']","Hyderabad, India"
4304,2022-04-22 13:38:49+00:00,Twitter for Android,RT @drshamamohd: Zoya Charitable Trust distrib...,0.600000,0.800000,en,0,131.0,ibrahimpatel007,4684,1225,False,[],['drshamamohd'],"Hyderabad, India"
4305,2022-04-22 13:38:43+00:00,Twitter for Android,"RT @SpiritOfCongres: It's not a meeting, it's ...",0.000000,0.000000,en,0,51.0,ibrahimpatel007,4684,1225,False,[],['SpiritOfCongres'],"Hyderabad, India"
4306,2022-04-22 09:37:27+00:00,Twitter for Android,Thank you @BajpayeeManoj ji for this beautiful...,0.850000,1.000000,en,7,6.0,ibrahimpatel007,4684,1225,True,[],['BajpayeeManoj'],"Hyderabad, India"

In [7]:
df.isnull().sum()

Unnamed: 0            0
created_at            0
source                0
original_text         0
polarity              0
subjectivity          0
lang                  0
favorite_count        0
retweet_count         0
original_author       0
followers_count       0
friends_count         0
possibly_sensitive    0
hashtags              0
user_mentions         0
place                 0
dtype: int64

In [8]:
df.isnull().sum().sum()

0

In [9]:
df.shape

(4307, 16)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4307 entries, 0 to 4306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4307 non-null   int64
 1   created_at          4307 non-null   object
 2   source              4307 non-null   object
 3   original_text       4307 non-null   object
 4   polarity            4307 non-null   float64
 5   subjectivity        4307 non-null   float64
 6   lang                4307 non-null   object
 7   favorite_count      4307 non-null   int64
 8   retweet_count       4307 non-null   float64
 9   original_author     4307 non-null   object
 10  followers_count     4307 non-null   int64
 11  friends_count       4307 non-null   int64
 12  possibly_sensitive  4307 non-null   bool
 13  hashtags            4307 non-null   object
 14  user_mentions       4307 non-null   object
 15  place               4307 non-null   object
dtypes: bool(1), float64(3), int64(4), object(8)
memory usage: 509.1+ KB

In [11]:
df['created_at'] = pd.to_datetime(df['created_at'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4307 entries, 0 to 4306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4307 non-null   int64
 1   created_at          4307 non-null   datetime64[ns, UTC]
 2   source              4307 non-null   object
 3   original_text       4307 non-null   object
 4   polarity            4307 non-null   float64
 5   subjectivity        4307 non-null   float64
 6   lang                4307 non-null   object
 7   favorite_count      4307 non-null   int64
 8   retweet_count       4307 non-null   float64
 9   original_author     4307 non-null   object
 10  followers_count     4307 non-null   int64
 11  friends_count       4307 non-null   int64
 12  possibly_sensitive  4307 non-null   bool
 13  hashtags            4307 non-null   object
 14  user_mentions       4307 non-null   object
 15  place               4307 non-null   object
dtypes: bool(1), datetime64[ns, UTC](1), float64(3), int64(4), object(7)
memory usage: 509.1+ KB

In [13]:
p_df=df.drop("Unnamed: 0", axis=1)

In [14]:
p_df.head(10)

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,2022-04-22 22:32:03+00:00,Twitter for iPhone,MICKEY’S BAD MOVE: @GovRonDeSantis has now sig...,-0.037500,0.533333,en,1,0.0,MercuryReports,9254,9422,False,[],['GovRonDeSantis'],All Over America
1,2022-04-22 22:16:55+00:00,Twitter for iPhone,ELECTIONS HAVE CONSEQUENCES: Biden’s historic ...,-0.066667,0.033333,en,1,0.0,MercuryReports,9254,9422,False,[],[],All Over America
2,2022-04-22 07:15:28+00:00,Twitter for iPhone,COINCIDENCE? 18 U.S. food processing facilitie...,-0.077778,0.177778,en,4,1.0,MercuryReports,9254,9422,False,[],[],All Over America
3,2022-04-22 07:11:18+00:00,Twitter for iPhone,FOOD PROCESSING PLANTS BEING DESTROYED: “A Sma...,-0.100000,0.450000,en,3,2.0,MercuryReports,9254,9422,False,[],[],All Over America
4,2022-04-21 22:22:02+00:00,Twitter for iPhone,DISGUSTING HUMAN BEING: What one person calls ...,-0.500000,0.550000,en,1,0.0,MercuryReports,9254,9422,False,[],[],All Over America
5,2022-04-21 22:07:20+00:00,Twitter for iPhone,"MASS EXPERIMENT ON HUMANITY: ""Despite the fact...",0.000000,0.300000,en,0,1.0,MercuryReports,9254,9422,False,[],[],All Over America
6,2022-04-21 10:16:46+00:00,Twitter for iPhone,DISNEY WILL NOT RUN FLORIDA: The Florida Senat...,0.357143,0.571429,en,3,0.0,MercuryReports,9254,9422,False,[],[],All Over America
7,2022-04-21 09:52:34+00:00,Twitter for iPhone,AMERICA’S SPACE CADET: Russia's Putin and Chin...,-0.600000,1.000000,en,2,0.0,MercuryReports,9254,9422,False,[],[],All Over America
8,2022-04-21 09:40:32+00:00,Twitter for iPhone,AMERICA’S MOST INCOMPETENT: Biden surpasses Ji...,0.060000,0.346667,en,1,0.0,MercuryReports,9254,9422,False,[],[],All Over America
9,2022-04-19 10:37:26+00:00,Twitter for iPhone,MAYOR OF CRAZY TOWN: Why is the Easter Bunny d...,-0.300000,0.950000,en,2,0.0,MercuryReports,9254,9422,False,[],[],All Over America

In [15]:
p_df.columns

Index(['created_at', 'source', 'original_text', 'polarity', 'subjectivity',
       'lang', 'favorite_count', 'retweet_count', 'original_author',
       'followers_count', 'friends_count', 'possibly_sensitive', 'hashtags',
       'user_mentions', 'place'],
      dtype='object')

In [19]:
p_df.shape

(4307, 15)

next select only relevant columns for sentmental analysis

In [20]:
dataset=p_df[['original_text', 'polarity', 'subjectivity']]

In [21]:
dataset.head(10)

                                       original_text  polarity  subjectivity
0  MICKEY’S BAD MOVE: @GovRonDeSantis has now sig... -0.037500      0.533333
1  ELECTIONS HAVE CONSEQUENCES: Biden’s historic ... -0.066667      0.033333
2  COINCIDENCE? 18 U.S. food processing facilitie... -0.077778      0.177778
3  FOOD PROCESSING PLANTS BEING DESTROYED: “A Sma... -0.100000      0.450000
4  DISGUSTING HUMAN BEING: What one person calls ... -0.500000      0.550000
5  MASS EXPERIMENT ON HUMANITY: "Despite the fact...  0.000000      0.300000
6  DISNEY WILL NOT RUN FLORIDA: The Florida Senat...  0.357143      0.571429
7  AMERICA’S SPACE CADET: Russia's Putin and Chin... -0.600000      1.000000
8  AMERICA’S MOST INCOMPETENT: Biden surpasses Ji...  0.060000      0.346667
9  MAYOR OF CRAZY TOWN: Why is the Easter Bunny d... -0.300000      0.950000

In [24]:
import warnings
warnings.filterwarnings('ignore')

In [25]:
dataset["original_text"]=dataset["original_text"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [26]:
dataset.head()

                                       original_text  polarity  subjectivity
0  mickey’s bad move: @govrondesantis has now sig... -0.037500      0.533333
1  elections have consequences: biden’s historic ... -0.066667      0.033333
2  coincidence? 18 u.s. food processing facilitie... -0.077778      0.177778
3  food processing plants being destroyed: “a sma... -0.100000      0.450000
4  disgusting human being: what one person calls ... -0.500000      0.550000

In [27]:
dataset["original_text"]=dataset["original_text"].str.replace('[^\w\s]','')

In [28]:
dataset.head()

                                       original_text  polarity  subjectivity
0  mickeys bad move govrondesantis has now signed... -0.037500      0.533333
1  elections have consequences bidens historic mi... -0.066667      0.033333
2  coincidence 18 us food processing facilities b... -0.077778      0.177778
3  food processing plants being destroyed a small... -0.100000      0.450000
4  disgusting human being what one person calls h... -0.500000      0.550000

In [32]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  
                           u"\U0001F300-\U0001F5FF"  
                           u"\U0001F680-\U0001F6FF"  
                           u"\U0001F1E0-\U0001F1FF"  
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)
dataset["original_text"]=dataset["original_text"].apply(lambda x: remove_emoji(x))

In [33]:
dataset.head()

                                       original_text  polarity  subjectivity
0  mickeys bad move govrondesantis has now signed... -0.037500      0.533333
1  elections have consequences bidens historic mi... -0.066667      0.033333
2  coincidence 18 us food processing facilities b... -0.077778      0.177778
3  food processing plants being destroyed a small... -0.100000      0.450000
4  disgusting human being what one person calls h... -0.500000      0.550000

In [34]:
#from nltk.corpus import stopwords
#stop = stopwords.words('english')
#dataset["original_text"]=dataset["original_text"].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

NameError: name 'stopwords' is not defined