In [ ]:
from google.colab import drive
drive.mount("/content/drive")

In [ ]:
%pwd

In [ ]:
%cd /content/drive/MyDrive/

In [ ]:
%cd Colab Notebooks/10xac

In [ ]:
%ls

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Economic_Twitter_Data.csv")

In [3]:
df.head(5)

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Fri Apr 22 22:20:18 +0000 2022,Twitter for Android,RT @nikitheblogger: Irre: Annalena Baerbock sa...,0.0,0.0,de,0,355.0,McMc74078966,3,12,NaN,[],['nikitheblogger'],NaN
1,Fri Apr 22 22:19:16 +0000 2022,Twitter for Android,RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...,0.0,0.0,de,0,505.0,McMc74078966,3,12,NaN,[],['sagt_mit'],NaN
2,Fri Apr 22 22:17:28 +0000 2022,Twitter for Android,RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...,0.0,0.0,de,0,4.0,McMc74078966,3,12,NaN,[],"['Kryptonoun', 'WRi007']",NaN
3,Fri Apr 22 22:17:20 +0000 2022,Twitter for Android,RT @WRi007: Die #Deutschen sind ein braves Vol...,0.0,0.0,de,0,332.0,McMc74078966,3,12,NaN,"['Deutschen', 'Spritpreisen', 'inflation', 'Ab...",['WRi007'],NaN
4,Fri Apr 22 22:13:15 +0000 2022,Twitter for Android,RT @RolandTichy: Baerbock verkündet mal so neb...,0.0,0.0,de,0,386.0,McMc74078966,3,12,NaN,[],['RolandTichy'],NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24636 entries, 0 to 24636
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          24636 non-null  object
 1   source              24633 non-null  object
 2   original_text       24633 non-null  object
 3   polarity            24625 non-null  object
 4   subjectivity        24625 non-null  float64
 5   lang                24625 non-null  object
 6   favorite_count      24625 non-null  object
 7   retweet_count       24625 non-null  float64
 8   original_author     24625 non-null  object
 9   followers_count     24618 non-null  object
 10  friends_count       24625 non-null  object
 11  possibly_sensitive  9982 non-null   object
 12  hashtags            24624 non-null  object
 13  user_mentions       24617 non-null  object
 14  place               15724 non-null  object
dtypes: float64(2), object(13)
memory usage: 3.0+ MB

In [15]:
df.describe()

       subjectivity  retweet_count
count  24625.000000   24625.000000
mean       0.218766     539.573320
std        0.302759    6045.401044
min        0.000000       0.000000
25%        0.000000       0.000000
50%        0.000000       2.000000
75%        0.446296      39.000000
max        1.000000  434379.000000

In [16]:
df.isnull().sum()

created_at                0
source                    3
original_text             3
polarity                 11
subjectivity             11
lang                     11
favorite_count           11
retweet_count            11
original_author          11
followers_count          18
friends_count            11
possibly_sensitive    14654
hashtags                 12
user_mentions            19
place                  8912
dtype: int64

In [24]:
df.isnull().sum().sum()

23698

In [8]:
df.isna()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24632,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
24633,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
24634,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
24635,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
24636,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True

In [9]:
df.shape

(24637, 15)

In [10]:
 df.drop_duplicates(inplace=True)

In [19]:
 df.drop(["retweet_count"], axis=1)

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Fri Apr 22 22:20:18 +0000 2022,Twitter for Android,RT @nikitheblogger: Irre: Annalena Baerbock sa...,0.0,0.0,de,0,McMc74078966,3,12,NaN,[],['nikitheblogger'],NaN
1,Fri Apr 22 22:19:16 +0000 2022,Twitter for Android,RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...,0.0,0.0,de,0,McMc74078966,3,12,NaN,[],['sagt_mit'],NaN
2,Fri Apr 22 22:17:28 +0000 2022,Twitter for Android,RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...,0.0,0.0,de,0,McMc74078966,3,12,NaN,[],"['Kryptonoun', 'WRi007']",NaN
3,Fri Apr 22 22:17:20 +0000 2022,Twitter for Android,RT @WRi007: Die #Deutschen sind ein braves Vol...,0.0,0.0,de,0,McMc74078966,3,12,NaN,"['Deutschen', 'Spritpreisen', 'inflation', 'Ab...",['WRi007'],NaN
4,Fri Apr 22 22:13:15 +0000 2022,Twitter for Android,RT @RolandTichy: Baerbock verkündet mal so neb...,0.0,0.0,de,0,McMc74078966,3,12,NaN,[],['RolandTichy'],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24632,Fri Apr 22 14:44:56 +0000 2022,Twitter for iPhone,RT @waglenikhil: आपल्या घरातल्या कोणत्याही कार...,0.0,0.0,mr,0,kitukalesatya,706,643,NaN,[],['waglenikhil'],NaN
24633,Fri Apr 22 14:44:44 +0000 2022,Twitter for iPhone,"RT @yadavtejashwi: चौहरमल नगर, फुलवारी शरीफ मे...",0.0,0.0,hi,0,kitukalesatya,706,643,NaN,[],['yadavtejashwi'],NaN
24634,Fri Apr 22 14:44:35 +0000 2022,Twitter for iPhone,RT @Parthtiwari25: Gujarat Congress MLA arrest...,0.0,0.0,en,0,kitukalesatya,706,643,NaN,[],['Parthtiwari25'],NaN
24635,Fri Apr 22 14:44:08 +0000 2022,Twitter for iPhone,RT @news24tvchannel: CM नीतीश कुमार ने तेजस्वी...,0.0,0.0,hi,0,kitukalesatya,706,643,NaN,[],['news24tvchannel'],NaN
24636,Fri Apr 22 14:43:01 +0000 2022,Twitter for iPhone,RT @suvegrathi: भगवान और खुदा आपस में बात कर र...,0.0,0.0,hi,0,kitukalesatya,706,643,NaN,[],"['suvegrathi', 'BajpayeeManoj']",NaN

In [23]:
df.dropna(axis=0,inplace=False)
#df = df[df['lang'].str.contains("en")]
#df['created_at'] = pd.to_datetime(df['created_at'])

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
88,Fri Apr 22 22:32:03 +0000 2022,Twitter for iPhone,MICKEY’S BAD MOVE: @GovRonDeSantis has now sig...,-0.03749999999999987,0.533333,en,1,0.0,MercuryReports,9254,9422,False,[],['GovRonDeSantis'],All Over America
89,Fri Apr 22 22:16:55 +0000 2022,Twitter for iPhone,ELECTIONS HAVE CONSEQUENCES: Biden’s historic ...,-0.06666666666666667,0.033333,en,1,0.0,MercuryReports,9254,9422,False,[],[],All Over America
90,Fri Apr 22 07:15:28 +0000 2022,Twitter for iPhone,COINCIDENCE? 18 U.S. food processing facilitie...,-0.07777777777777779,0.177778,en,4,1.0,MercuryReports,9254,9422,False,[],[],All Over America
91,Fri Apr 22 07:11:18 +0000 2022,Twitter for iPhone,FOOD PROCESSING PLANTS BEING DESTROYED: “A Sma...,-0.09999999999999999,0.450000,en,3,2.0,MercuryReports,9254,9422,False,[],[],All Over America
92,Fri Apr 22 07:08:54 +0000 2022,Twitter for iPhone,RT @JackPosobiec: https://t.co/M5xGy6Y2BQ,0.0,0.000000,und,0,3604.0,MercuryReports,9254,9422,False,[],['JackPosobiec'],All Over America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24522,Fri Apr 22 11:19:46 +0000 2022,Twitter for Android,RT @IYC: टूटता है भारत! https://t.co/4NplYUammS,0.0,0.000000,hi,0,240.0,ibrahimpatel007,4684,1225,False,[],['IYC'],"Hyderabad, India"
24524,Fri Apr 22 11:19:38 +0000 2022,Twitter for Android,RT @INC_Television: पटना:सुशासन राज की पोल खोल...,0.0,0.000000,hi,0,111.0,ibrahimpatel007,4684,1225,False,[],['INC_Television'],"Hyderabad, India"
24528,Fri Apr 22 11:19:19 +0000 2022,Twitter for Android,RT @WithCongress: भाजपा राज में काले धंधे ! ht...,0.0,0.000000,hi,0,20.0,ibrahimpatel007,4684,1225,False,[],['WithCongress'],"Hyderabad, India"
24529,Fri Apr 22 11:19:17 +0000 2022,Twitter for Android,RT @INCMP: रतलाम जनसभा की झलकियाँ। https://t.c...,0.0,0.000000,hi,0,266.0,ibrahimpatel007,4684,1225,False,[],['INCMP'],"Hyderabad, India"
24535,Fri Apr 22 09:37:27 +0000 2022,Twitter for Android,Thank you @BajpayeeManoj ji for this beautiful...,0.85,1.000000,en,7,6.0,ibrahimpatel007,4684,1225,True,[],['BajpayeeManoj'],"Hyderabad, India"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24636 entries, 0 to 24636
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          24636 non-null  object
 1   source              24633 non-null  object
 2   original_text       24633 non-null  object
 3   polarity            24625 non-null  object
 4   subjectivity        24625 non-null  float64
 5   lang                24625 non-null  object
 6   favorite_count      24625 non-null  object
 7   retweet_count       24625 non-null  float64
 8   original_author     24625 non-null  object
 9   followers_count     24618 non-null  object
 10  friends_count       24625 non-null  object
 11  possibly_sensitive  9982 non-null   object
 12  hashtags            24624 non-null  object
 13  user_mentions       24617 non-null  object
 14  place               15724 non-null  object
dtypes: float64(2), object(13)
memory usage: 3.0+ MB

In [15]:
df["polarity"] = pd.to_numeric(df["polarity"])
df["subjectivity"] = pd.to_numeric(df["subjectivity"])
df["retweet_count"] = pd.to_numeric(df["retweet_count"])
df["favorite_count"] = pd.to_numeric(df["favorite_count"])
df["friends_count "] = pd.to_numeric(df["friends_count"])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24574 entries, 0 to 24624
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   created_at       24574 non-null  datetime64[ns, UTC]
 1   source           24574 non-null  object
 2   original_text    24574 non-null  object
 3   polarity         24574 non-null  float64
 4   subjectivity     24574 non-null  float64
 5   lang             24574 non-null  object
 6   favorite_count   24574 non-null  int64
 7   retweet_count    24574 non-null  int64
 8   original_author  24574 non-null  object
 9   followers_count  24574 non-null  int64
 10  friends_count    24574 non-null  int64
 11  sensetivity      9964 non-null   object
 12  hashtags         24574 non-null  object
 13  user_mentions    18063 non-null  object
 14  place            15700 non-null  object
 15  friends_count    24574 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(2), int64(5), object(8)
memory usage: 3.2+ MB