In [1]:
# Modules importation
import pandas as pd
import numpy as np

from extract_dataframe import TweetDfExtractor
from extract_dataframe import read_json
from clean_tweets_dataframe import Clean_Tweets

_, tweet_list = read_json("Economic_Twitter_Data.json")

In [2]:
tweetDfExt = TweetDfExtractor(tweet_list)
tweet_df = tweetDfExt.get_tweet_df() # Convert the list into a dataframe and extract some features
tweet_df.info() # Get some information about the data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24625 entries, 0 to 24624
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          24625 non-null  object
 1   source              24625 non-null  object
 2   original_text       24625 non-null  object
 3   polarity            24625 non-null  float64
 4   subjectivity        24625 non-null  float64
 5   lang                24625 non-null  object
 6   favorite_count      0 non-null      object
 7   retweet_count       0 non-null      object
 8   original_author     24625 non-null  object
 9   followers_count     24625 non-null  int64
 10  friends_count       24625 non-null  int64
 11  possibly_sensitive  9975 non-null   object
 12  hashtags            24625 non-null  object
 13  user_mentions       24625 non-null  object
 14  place               24625 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 2.8+ MB

In [3]:
tweets_prepro = Clean_Tweets(tweet_df)
# Drop duplicates
tweet_df = tweets_prepro.drop_duplicate('original_text')
# Convert "created at" into datetime object
tweet_df = tweets_prepro.convert_to_datetime('created_at')

Automation in Action...!!!

In [4]:
print(tweet_df.shape)
tweet_df.info()

(22370, 15)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 22370 entries, 0 to 24624
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          22370 non-null  datetime64[ns, UTC]
 1   source              22370 non-null  object
 2   original_text       22370 non-null  object
 3   polarity            22370 non-null  float64
 4   subjectivity        22370 non-null  float64
 5   lang                22370 non-null  object
 6   favorite_count      0 non-null      object
 7   retweet_count       0 non-null      object
 8   original_author     22370 non-null  object
 9   followers_count     22370 non-null  int64
 10  friends_count       22370 non-null  int64
 11  possibly_sensitive  9598 non-null   object
 12  hashtags            22370 non-null  object
 13  user_mentions       22370 non-null  object
 14  place               22370 non-null  object
dtypes: datetime64[ns, UTC](1), float64(2), int64(2), object(10)
memory usage: 2.7+ MB

In [5]:
# Get only the english tweet
tweet_df = tweets_prepro.remove_non_english_tweets()
tweet_df.shape

(15082, 15)

In [6]:
# Descriptive statistics
tweet_df.describe()

           polarity  subjectivity  followers_count  friends_count
count  15082.000000  15082.000000     1.508200e+04   15082.000000
mean       0.088552      0.310867     5.621884e+04    1390.723710
std        0.276101      0.316366     4.397814e+05    3068.490121
min       -1.000000      0.000000     0.000000e+00       0.000000
25%        0.000000      0.000000     1.250000e+02     117.000000
50%        0.000000      0.275000     5.620000e+02     450.000000
75%        0.200000      0.525855     2.254000e+03    1507.000000
max        1.000000      1.000000     6.027402e+06   41866.000000