In [24]:
import pandas as pd 
import numpy as np

In [17]:
df =pd.read_csv("/Users/alex/Desktop/10_acadamy/Twitter-Data-Analysis/data/covid19.csv")

In [26]:
class CleanTweets:
    def __init__(self, df:pd.DataFrame):
        self.df = df
        print('Automation in Action...!!!')

In [27]:
print(type("clas"))

<class 'str'>

In [28]:
class Atmospheric_Pressure:
    def  altitude(h):
        return

SyntaxError: unexpected EOF while parsing (3625675533.py, line 4)

In [31]:
from math import exp

def  barometric(h , T):

SyntaxError: unexpected EOF while parsing (157032853.py, line 3)

In [43]:
def positive_number(number):
    if number > 0:
        print ("True")
    return None
positive_number(0)

In [42]:
def is_positive(number):
  if number > 0:
    print ("True")
    return None
is_positive(5)

True

In [44]:
def hint_user_name(hint):
    if len(hint) >3:
        print ("user not found")

In [47]:
def even_number(number):
    if number % 2 == 0:
        return True 
    return False

False

In [49]:
"big" > "small"

False

In [50]:
11%5

1

In [51]:
def sum(x, y):
		return(x+y)
print(sum(sum(1,2), sum(3,4)))

10

In [52]:
def exam_grade(score):
	if score >= 95:
		print("Top Score")

In [53]:
exam_grade(95)

Top Score

In [54]:
def exam_grade(score):
	if score > 95:
		print("Top Score")
	elif score >= 65:
		print("Pass")
	else:
		score < 65
		print("Fail")
	return exam_grade
print(exam_grade(65)) # Should be Pass
print(exam_grade(55)) # Should be Fail
print(exam_grade(60)) # Should be Pass
print(exam_grade(95)) # Should be Pass
print(exam_grade(100)) # Should be Top Score
print(exam_grade(0)) # Should be Fail

Pass
<function exam_grade at 0x123455cb0>
Fail
<function exam_grade at 0x123455cb0>
Fail
<function exam_grade at 0x123455cb0>
Pass
<function exam_grade at 0x123455cb0>
Top Score
<function exam_grade at 0x123455cb0>
Fail
<function exam_grade at 0x123455cb0>

In [70]:
def exam_graad(scor):
    if scor > 95:
        print ("Top score")
    elif scor > 65:
        print ("Pass")
    else:
        print ("fall")
    return None

In [ ]:
print(format_name("Ella", "Fitzgerald"))
Name: Fitzgerald, Ella

In [76]:
def format_name(first_name, last_name):
	if format_name == "Ella" and "Fitzgerald":
        
	
	return string 

print(format_name("Ernest", "Hemingway"))
# Should return the string "Name: Hemingway, Ernest"

print(format_name("", "Madonna"))
# Should return the string "Name: Madonna"

print(format_name("Voltaire", ""))
# Should return the string "Name: Voltaire"

print(format_name("", ""))
# Should return an empty string

TabError: inconsistent use of tabs and spaces in indentation (971280217.py, line 3)

In [78]:
def sum(x, y):
    return(x+y)
print(sum(sum(1,2), sum(3,4)))

10

In [79]:
((10 >= 5*2) and (10 <= 5*2))

True

In [82]:
def fractional_part(numerator, denominator):
	# Operate with numerator and denominator to 
# keep just the fractional part of the quotient
	return 0

print(fractional_part(5, 5)) # Should be 0
print(fractional_part(5, 4)) # Should be 0.25
print(fractional_part(5, 3)) # Should be 0.66...
print(fractional_part(5, 2)) # Should be 0.5
print(fractional_part(5, 0)) # Should be 0
print(fractional_part(0, 5)) # Should be 0

0
0
0
0
0
0

In [83]:
def format_name(first_name, last_name):
	# code goes here
	
	return string 

print(format_name("Ernest", "Hemingway"))
# Should return the string "Name: Hemingway, Ernest"

print(format_name("", "Madonna"))
# Should return the string "Name: Madonna"

print(format_name("Voltaire", ""))
# Should return the string "Name: Voltaire"

print(format_name("", ""))
# Should return an empty string

NameError: name 'string' is not defined

In [87]:
def sum(x, y):
    return(x+y)
print(sum(sum(1,2), sum (3,4)))

10