**Project:** Data Minining Project for  X company

The CRISP-DM Framework


The CRISP-DM methodology provides a structured approach to planning a data mining project. It is a robust and well-proven methodology.
* Business understanding (BU): Determine Business Objectives, Assess Situation, Determine Data Mining Goals, Produce Project Plan

* Data understanding (DU): Collect Initial Data, Describe Data, Explore Data, Verify Data Quality

* Data preparation (DP): Select Data, Clean Data, Construct Data, Integrate Data

* Modeling (M): Select modeling technique, Generate Test Design, Build Model, Assess Model
*  Evaluation (E): Evaluate Results, Review Process, Determine Next Steps
*  Deployment (D): Plan Deployment, Plan Monitoring and Maintenance, Produce Final Report, Review Project


References:

[What is the CRISP-DM methodology?](https://www.sv-europe.com/crisp-dm-methodology/)

[Introduction to CRISP DM Framework for Data Science and Machine Learning](https://www.linkedin.com/pulse/chapter-1-introduction-crisp-dm-framework-data-science-anshul-roy/)

**Data Set**
### The data is for company X which is trying to control attrition. 
### There are two sets of data: "Existing employees" and "Employees who have left". The following attributes are available for every employee.


*   Satisfaction Level

*   Last evaluation

*   Number of projects

*   Average monthly hours

*   Time spent at the company
*   Whether they have had a work accident


*  Whether they have had a promotion in the last 5 years


*   Departments (column sales)


*   Salary


*  Whether the employee has left

**Your Role**
 

*   As data science team member X company asked you to answer this two questions.
*  What type of employees is leaving? 

*   Determine which employees are prone to leave next.

Business Understanding

---

This step mostly focuses on understanding the Business in all the different aspects. It follows the below different steps.




* Identify the goal and frame the business problem.
* Prepare Analytical Goal i.e. what type of performance metric and loss function to use
* Gather information on resource, constraints, assumptions, risks etc
* Gather information on resource, constraints, assumptions, risks etc
*   Prepare Work Flow Chart

### Write the main objectives of this project in your words?
minimum of 100 characters

In [ ]:
main_objectives ='''Add your answer text here
you can create python string using (') or (") or 3('), like the text here. The 3(') string can be used 
to write paragraphs, comments in the beginning of functions, etc.. Your answer to the above question 
should replace this text.
'''

In [ ]:
assert len(main_objectives) > 100 
### BEGIN HIDDEN TESTS
assert len(main_objectives) > 80 
### END HIDDEN TESTS

### Outline the different data analysis steps you will follow to carry out the project

In [ ]:
dm_outline = '''Add your answer text here
you can create python string using (') or (") or 3('), like the text here. The 3(') string can be used 
to write paragraphs, comments in the beginning of functions, etc.. Your answer to the above question 
should replace this text.
'''

In [ ]:
assert len(dm_outline) > 100 
### BEGIN HIDDEN TESTS
assert len(dm_outline) > 70 
### END HIDDEN TESTS

### What metrics will you use to measure the performance of your data analysis model? 
Write the equations of the metrics here

e.g. Precision = $\frac{TP}{(TP + FP)}$

Why do you choose these metrics? minimum of 100 characters

In [ ]:
why_metrics = '''Add your answer text here
you can create python string using (') or (") or 3('), like the text here. The 3(') string can be used 
to write paragraphs, comments in the beginning of functions, etc.. Your answer to the above question 
should replace this text.
'''

In [ ]:
assert len(why_metrics) > 100 
### BEGIN HIDDEN TESTS
assert len(why_metrics) > 80 
### END HIDDEN TESTS

### How would you know if your data analysis work is a success or not?
minimum of 100 characters

In [ ]:
how_success = '''Add your answer text here
you can create python string using (') or (") or 3('), like the text here. The 3(') string can be used 
to write paragraphs, comments in the beginning of functions, etc.. Your answer to the above question 
should replace this text.
'''

In [ ]:
assert len(how_success) > 100 
### BEGIN HIDDEN TESTS
assert len(how_success) > 80 
### END HIDDEN TESTS

## What kind of challenges do you expect in your analysis?
List at least 3 challenges

In [ ]:
challenge_text = '''Add your answer text here
you can create python string using (') or (") or 3('), like the text here. The 3(') string can be used 
to write paragraphs, comments in the beginning of functions, etc.. Your answer to the above question 
should replace this text.
'''

In [ ]:
assert len(challenge_text) > 100 
### BEGIN HIDDEN TESTS
assert len(how_success) > 80 
### END HIDDEN TESTS

<h2>Using the processed twitter data from yesterday's challenge</h2>.


- Form a new data frame (named `cleanTweet`), containing columns $\textbf{clean-text}$ and $\textbf{polarity}$.

- Write a function `text_category` that takes a value `p` and returns, depending on the value of p, a string `'positive'`, `'negative'` or `'neutral'`.

- Apply this function (`text_category`) on the $\textbf{polarity}$ column of `cleanTweet` in 1 above to form a new column called $\textbf{score}$ in `cleanTweet`.

- Visualize The $\textbf{score}$ column using piechart and barchart

<h5>Now we want to build a classification model on the clean tweet following the steps below:</h5>

* Remove rows from `cleanTweet` where $\textbf{polarity}$ $= 0$ (i.e where $\textbf{score}$ = Neutral) and reset the frame index.
* Construct a column $\textbf{scoremap}$ Use the mapping {'positive':1, 'negative':0} on the $\textbf{score}$ column
* Create feature and target variables `(X,y)` from $\textbf{clean-text}$ and $\textbf{scoremap}$ columns respectively.
* Use `train_test_split` function to construct `(X_train, y_train)` and `(X_test, y_test)` from `(X,y)`

* Build an `SGDClassifier` model from the vectorize train text data. Use `CountVectorizer()` with a $\textit{trigram}$ parameter.

* Evaluate your model on the test data.

In [60]:
import pandas as pd
import clean_tweets_dataframe

In [61]:
def read_proccessed_data(csv_path):
    df = pd.read_csv(csv_path)
    return df

In [62]:
"""reading processed data using pandas"""
df = read_proccessed_data('processed_tweet_data.csv')

In [63]:
"""Looking the columns"""
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3720 entries, 0 to 3719
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          3720 non-null   object
 1   source              3720 non-null   object
 2   original_text       2248 non-null   object
 3   polarity            3720 non-null   float64
 4   subjectivity        3720 non-null   float64
 5   lang                3720 non-null   object
 6   favorite_count      3720 non-null   int64
 7   retweet_count       2810 non-null   float64
 8   original_author     3720 non-null   object
 9   followers_count     3720 non-null   int64
 10  friends_count       3720 non-null   int64
 11  possibly_sensitive  0 non-null      float64
 12  hashtags            3720 non-null   object
 13  user_mentions       3720 non-null   object
 14  place               2430 non-null   object
dtypes: float64(4), int64(3), object(8)
memory usage: 436.1+ KB

In [64]:
df['polarity']
df['polarity'].value_counts()

 0.000000    366
 0.133333    200
 0.337500    188
 0.166667    160
 0.508333    137
            ...
 0.093182      1
 0.154107      1
-0.030000      1
-0.066667      1
 0.028571      1
Name: polarity, Length: 293, dtype: int64

In [65]:
df['original_text'].isnull().sum()

1472

In [66]:
df['polarity'].isnull().sum()

0

In [67]:
df

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Fri Jun 18 17:55:49 +0000 2021,"<a href=""http://twitter.com/download/iphone"" r...","🚨Africa is ""in the midst of a full-blown third...",0.166667,0.188889,en,548,612.0,ketuesriche,551,351,NaN,[],"[{'screen_name': 'TelGlobalHealth', 'name': 'T...",Mass
1,Fri Jun 18 17:55:59 +0000 2021,"<a href=""https://mobile.twitter.com"" rel=""nofo...","Dr Moeti is head of WHO in Africa, and one of ...",0.133333,0.455556,en,195,92.0,Grid1949,66,92,NaN,[],"[{'screen_name': 'globalhlthtwit', 'name': 'An...","Edinburgh, Scotland"
2,Fri Jun 18 17:56:07 +0000 2021,"<a href=""http://twitter.com/download/iphone"" r...",Thank you @research2note for creating this ama...,0.316667,0.483333,en,2,1.0,LeeTomlinson8,1195,1176,NaN,"[{'text': 'red4research', 'indices': [103, 116]}]","[{'screen_name': 'NHSRDForum', 'name': 'NHS R&...",NaN
3,Fri Jun 18 17:56:10 +0000 2021,"<a href=""https://mobile.twitter.com"" rel=""nofo...","Former Pfizer VP and Virologist, Dr. Michael Y...",0.086111,0.197222,en,1580,899.0,RIPNY08,2666,2704,NaN,[],"[{'screen_name': 'HighWireTalk', 'name': 'The ...",NaN
4,Fri Jun 18 17:56:20 +0000 2021,"<a href=""http://twitter.com/download/android"" ...",I think it’s important that we don’t sell COVA...,0.280000,0.620000,en,72,20.0,pash22,28250,30819,NaN,[],"[{'screen_name': 'PeterHotez', 'name': 'Prof P...",United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3715,Sat Jun 19 00:53:47 +0000 2021,"<a href=""http://twitter.com/download/iphone"" r...","204,344 #COVID19 vaccines have been administer...",0.100000,0.400000,en,380,39.0,farshait,1489,4806,NaN,"[{'text': 'COVID19', 'indices': [25, 33]}]","[{'screen_name': 'BogochIsaac', 'name': 'Isaac...","Toronto, Ontario"
3716,Sat Jun 19 00:53:56 +0000 2021,"<a href=""http://twitter.com/download/android"" ...","🚨Africa is ""in the midst of a full-blown third...",-0.386111,0.622222,en,614,685.0,anandan22,2072,688,NaN,[],"[{'screen_name': 'TelGlobalHealth', 'name': 'T...",ADI 🛫 GGN 🛫 Noida 🛫 SBC
3717,Sat Jun 19 00:54:00 +0000 2021,"<a href=""http://twitter.com/download/iphone"" r...",I’m pleased to welcome the #WeCanDoThis bus to...,-0.050000,0.400000,en,946,306.0,nanteos620,168,667,NaN,"[{'text': 'WeCanDoThis', 'indices': [44, 56]},...","[{'screen_name': 'CDCDirector', 'name': 'Roche...","Auburn, AL"
3718,Sat Jun 19 00:54:03 +0000 2021,"<a href=""http://twitter.com/download/android"" ...","In this interview, I discuss the possible lab ...",0.086111,0.197222,en,14,9.0,NVoluntaryist,1350,541,NaN,[],"[{'screen_name': 'jeremyrhammond', 'name': 'Je...",In the snowy mountains
3719,Sat Jun 19 00:54:19 +0000 2021,"<a href=""http://twitter.com/download/iphone"" r...",I don't think we should rush emergency approve...,0.125000,0.325000,en,6,1.0,chrisjsmith14,41,72,NaN,[],"[{'screen_name': 'm_etxe_ar', 'name': 'M To', ...",NaN

In [69]:
df['lang'].value_counts()

en    3720
Name: lang, dtype: int64

In [70]:
df = df.drop(df[df['lang'] != 'en'].index)

In [83]:
cleanedTweet = pd.DataFrame(columns=['clean_text','polarity'])

cleanedTweet['clean_text'] = df['original_text']
cleanedTweet['polarity'] = df['polarity']
cleanedTweet.dropna(inplace=True)

In [84]:
cleanedTweet.isnull().sum()

clean_text    0
polarity      0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3720 entries, 0 to 3719
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   clean_text  2248 non-null   object
 1   polarity    3720 non-null   float64
dtypes: float64(1), object(1)
memory usage: 87.2+ KB

In [87]:
def text_category(p):
    if p > 0:
        return "positive"
    elif p == 0:
        return "negative"
    else:
        return "neutral"

In [88]:
cleanedTweet['score]cleanedTweet['polarity'].apply(text_category)

0       positive
1       positive
2       positive
3       positive
4       positive
          ...
3715    positive
3716     neutral
3717     neutral
3718    positive
3719    positive
Name: polarity, Length: 2248, dtype: object