In [3]:
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import STOPWORDS,WordCloud
from gensim import corpora
import pandas as pd
import statistics
import string
import os, sys
import re

In [4]:
sys.path.append(os.path.abspath(os.path.join('../..')))

In [7]:
#To read csv file and create dataframe
raw_data = pd.read_csv('../data/Economic_Twitter_Data.csv')
raw_data.head()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Fri Apr 22 22:20:18 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",Empty,-0.1,0.5,de,2356,355,McMc74078966,3,12,NaN,[],nikitheblogger,NaN
1,Fri Apr 22 22:19:16 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",Empty,-0.1,0.5,de,1985,505,McMc74078966,3,12,NaN,[],sagt_mit,NaN
2,Fri Apr 22 22:17:28 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",Empty,-0.1,0.5,de,16,4,McMc74078966,3,12,NaN,[],"Kryptonoun, WRi007",NaN
3,Fri Apr 22 22:17:20 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",Empty,-0.1,0.5,de,1242,332,McMc74078966,3,12,NaN,"[{'text': 'Deutschen', 'indices': [16, 26]}, {...",WRi007,NaN
4,Fri Apr 22 22:13:15 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",Empty,-0.1,0.5,de,1329,386,McMc74078966,3,12,NaN,[],RolandTichy,NaN

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24625 entries, 0 to 24624
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          24625 non-null  object
 1   source              24625 non-null  object
 2   original_text       24625 non-null  object
 3   polarity            24625 non-null  float64
 4   subjectivity        24625 non-null  float64
 5   lang                24625 non-null  object
 6   favorite_count      24625 non-null  int64
 7   retweet_count       24625 non-null  int64
 8   original_author     24625 non-null  object
 9   followers_count     24625 non-null  int64
 10  friends_count       24625 non-null  int64
 11  possibly_sensitive  9975 non-null   object
 12  hashtags            24625 non-null  object
 13  user_mentions       18077 non-null  object
 14  place               15731 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 2.8+ MB

In [9]:
print("The number of missing value(s): {}".format(raw_data.isnull().sum().sum()))
print("Columons having columns value:{}".format(raw_data.columns[raw_data.isnull().any()]))

The number of missing value(s): 30092
Columons having columns value:Index(['possibly_sensitive', 'user_mentions', 'place'], dtype='object')

In [ ]:
tweets_df = pd.DataFrame(columns=['text'])

tweets_df['text'] =  tweets['text'].to_list()